In [1]:
import pandas as pd

In [2]:
import psycopg2

In [3]:
df = pd.read_excel('Input.xlsx')

In [4]:
conn_string = "host='postgres' dbname='postgres' user='postgres' password=manager"

In [5]:
conn = psycopg2.connect(conn_string)

In [6]:
cursor = conn.cursor()

In [7]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:manager@postgres:5432/postgres')

In [13]:
cursor.execute('drop table data_table')

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [14]:
cursor.execute('commit')

In [15]:
df.to_sql('docker-compose u',engine)

4

In [16]:
df_pg = pd.read_sql_query('select * from data_table',con = engine)

In [17]:
 df_pg

,index,Способ эксплуатации,Скважина,Статус,ГЗУ,Замер жидкости,Замер нефти,Замер обводненности,Тустья,Рбуф,...,Дата оптимизации,Счетчик,Дата отбора пробы,Отработанное время,Дата,"диам.штуц.,мм Choke Size",Q inj steam,Q inj (water),Agent,Inj Hor
0,0,ск,1166,СК работает,9 птв,42,1.97190,95,39,3.0,...,2021-12-15 00:00:00,СКЖ,2022-01-22 00:00:00,24,2022-02-01,None,None,None,None,None
1,1,вн,1167,винтовой,9 птв,42,1.57752,96,31,3.0,...,2022-01-22 00:00:00,СКЖ,2022-01-22 00:00:00,24,2022-02-01,None,None,None,None,None
2,2,ск,1168,контрольный фонд,9 птв,0,0.00000,0,0,0.0,...,00:00:00,нет,00:00:00,0,2022-02-01,None,None,None,None,None
3,3,ск,1169,СК раб.с проп.кл,9 птв,22,0.61974,97,25,2.5,...,2021-04-30 00:00:00,СКЖ,2022-01-22 00:00:00,24,2022-02-01,None,None,None,None,None

# Автоматизация

Пополняем БД новыми данными

In [9]:
from celery import Celery
from django.db import connection

In [10]:
result_backend = 'postgres+postgresql://postgres:manager@postgres:5432/postgres'

In [12]:
app = Celery(broker=result_backend)